@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {font-family: 'Roboto', sans-serif;}

body{
    background:  #525561;
}

@media screen and (max-width: 768px) {
    body{
        background: #272a37;
        padding: 0;
        margin: 0;

    }

    .titulo-principal{
        text-align: center;
        font-size: 16px;
    }
}